@layer reset {
  *,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    -mo2-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -text-size-ajust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockqoute,
  dl,
  dd {
    margin: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  ul {
    margin: 0;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  h2 {
    &[data-aligntment='center'] {
      align-self: center;
    }
  }
}

@layer base {
  @font-face {
    font-family: 'Graphik';
    src: url('../src/assets/fonts/Graphik/Graphik-Regular.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../src/assets/fonts/Graphik/Graphik-Medium.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../src/assets/fonts/Graphik/Graphik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Graphik';
    src: url('../src/assets/fonts/Graphik/Graphik-Black\ Italic.ttf')
      format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  :root {
    --ff-heading: 'Graphik', sans-serif;
    --ff-body: sans-serif;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover,
  a:focus-visible {
    color: inherit;
  }
}

@layer layout {
  .app {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'navbar navbar navbar'
      'sidebar main main '
      'footer footer footer ';
  }
  .main__dashboard {
    grid-area: main;
    padding: 2rem;
    background-color: var(--color-background);
    color: var(--color-text);
  }
  .navbar {
    grid-area: navbar;
    background-color: var(--color-navbar-bg);
    color: var(--color-navbar-text);
    padding: 1rem;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: var(--color-sidebar-bg);
    color: var(--color-sidebar-text);
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .footer {
    grid-area: footer;
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
  }
}
